.header {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container__btn:checked~.container__label>.header__menu {
  background-image: url("../img/Menu\ Aberto.png");
}


.container__btn:checked~.container__label {
  background-color: var(--azul-secundario);
}



.header__menu{
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container{
  display: flex;
  align-items: center;
}

.container__img {
  padding: 1em;
}

.container__btn{
  display: none;
}

.container__btn:checked ~ .list-menu {
  display: block;
}

.list-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.list-menu__title,
.list-menu__item {
  padding: .8rem;
  background-color: var(--branco);
}

.list-menu__title {
  color: var(--laranja);
  font-weight: 700;
}

.list-menu__item:hover {
  background-color: var(--bg-principal);
}

.list-menu__link {
  background-color: var(--azul-degrade);
  color: var(--azul-secundario);
  text-decoration: none;
  text-transform: uppercase;
}

.container__title {
  display: none;
}

.list-opcoa {
  display: none;
}

.container__text{
  display: none;
}

@media screen and (min-width: 1024px) {

  .container__negrito {
    font-weight: 700;
  }

  .container__title {
    display: block;
    font-weight: 300;
    font-size: 30px;
  }

  .list-opcoa {
    display: flex;
  }

  .list-opcao__item {
    padding: 0 1em;
    text-transform: uppercase;
    color: var(--azul-secundario);
  }

  .list-opcao__link {
    text-decoration: none;
    color: var(--azul-secundario);
  }

  .container__img__none {
    display: none;
  }

  .header__menu{
    display: none;
  }

  .list-opcoa__btn:checked ~ .list-menu {
    display: block;
    width: auto;
  }

  .list-opcoa__btn {
    display: none;
  }

  .list-opcoa__btn:checked ~ .list-opcoa__label > .list-opcao__item {
    background-color: var(--azul-secundario);
    color: var(--branco);
  }

  .list-opcao__item {
    padding: 2.2em 2.06em;
    cursor: pointer;

  }

}

@media screen and (min-width: 1728px) {
  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .header {
    padding: 0 2em
  }

  .container__text{
    display: block;
  }

  .list-opcoa {
    margin-right: auto;
    margin-top: .6em;
  }
}

