.header {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.header__menu{
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container{
  display: flex;
  align-items: center;
}

.container__img {
  padding: 1em;
}

.container__btn{
  display: none;
}

.container__btn:checked ~ .list-menu {
  display: block;
}

.list-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.list-menu__title,
.list-menu__item {
  padding: .8rem;
  background-color: var(--branco);
}

.list-menu__title {
  color: var(--laranja);
  font-weight: 700;
}

.list-menu__item:hover {
  background-color: var(--bg-principal);
}

.list-menu__link {
  background-color: var(--azul-degrade);
  color: var(--azul-secundario);
  text-decoration: none;
  text-transform: uppercase;
}